//- the hyphen means we are executing pure JavaScript
mixin storeForm(store = {})
    form(action=`/add/${store._id || ''}` method="POST" class="card" enctype="multipart/form-data")
        pre=h.dump(store)
        label(for="name") Name
        input(type="text" name="name" value=store.name)
        label(for="description") Description
        textarea(name="description")= store.description
        //- The dash means we are running javascript
        //- #{variable} is how we do interpolation in pug
        //- address, lng and lat
        //- location[address] express feature that will send location.address as a url parameter (that is why we have {extended: true} on our parser)
        //- store.location && store.location.address (similar to a ternary except simpler)
        //- lable for is always associated with the corresponding. This programmatically links them for screenreaders and easier selection
        //- Image upload
        label(for="photo") Photo
            input(type="file" name="photo" accept="image/gif, image/png, image/jpeg")
            if store.photo
                img(src=`/uploads/${store.photo}` alt=store.name width=200)
        label(for="address") Address
        input(type="text" id="address" name="location[address]" value=(store.location && store.location.address))
        label(for="lng") Address LNG
        input(type="text" id="lng" name="location[coordinates][0]" value=(store.location && store.location.coordinates[0]) required)
        label(for="lat") Address LAT
        input(type="text" id="lat" name="location[coordinates][1]" value=(store.location && store.location.coordinates[1]) required)
        - const choices = ['Wifi', 'Open Late', 'Family Friendly', 'Vegetarian', 'Licensed']
        - const tags = store.tags || []
        ul.tags
            each choice in choices
                .tag.tag__choice
                    input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice))) 
                    label(for=choice) #{choice}
        input(type="submit" value="Save ➡️" class="button")